/*--funtion for glow--*/

.glow {
    display: block;
    transition: 1s;
    animation: glowing;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    z-index: 1;
    filter: contrast(500%);
}

.shelf.glow {
    transform: scale(1.95);
    width: 9%;
    left: 18.5%;
}

.locker.glow {
    transform: scale(4.0);
    left: 50.7%;
    top: 75.2%;
}

.frame.glow {
    transform: scale(2.2);
    height: 21%;
    width: 10%;
    left: 51.26%;
    top: 18%;
}

.pancake.glow {
    transform: scale(2);
    top: 39.9%;
    width: 13%;
    left: 36.5%;
    height: 14.7%;
}

.scale.glow {
    transform: scale(2.48);
    top: 41%;
    left: 19.97%;
}

.picture.item.cup.glow {
    transform: scale(2.48);
    width: 6%;
    left: 13.3%;
}

.tanka.glow {
    transform: scale(2.5);
    left: 12.5%;
    top: 38.54%;
    width: 7%;
    height: 11%;
}

.book.glow {
    transform: scale(2.5);
    height: 12%;
    top: 70%;
    filter: contrast(700%);
}

.picture.item.buffdoll.glow {
    animation: glowing-buff;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    width: 22%;
    left: 72%;
}

.razor.glow {
    left: 21.5%;
    width: 4.5%;
    transform: scale(2.7);
    animation: glowing-razor;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.bucket.glow {
    transform: scale(1.4);
    height: 24%;
    width: 20.2%;
    top: 62%
}

.shower.glow {
    transform: scaleY(1.52) scaleX(1.44);
}

.cloth.glow {
    transform: scaleX(1.07) scaleY(1.2);
    top: 43.6%;
    left: 0.6%;
}

.pillow_left.glow {
    transform: scaleX(1.49) scaleY(2);
    left: 30%;
}

.pillow_right.glow {
    transform: scaleX(1.49) scaleY(2);
    left: 51.01%;
}

.cosmetics.glow {
    transform: scaleX(2.3) scaleY(2.67);
}

.bin.glow {
    transform: scalex(2.4) scaleY(2.085);
}

.chair.glow {
    top: 26%;
    transform: scaleX(2.28) scaleY(1.65);
}

.frame_wk.glow {
    transform: scaleX(1.8) scaleY(2.4);
}

.frame_1.glow {
    transform: scaleX(2) scaleY(2.08);
    height: 20%;
    top: 21.5%;
}

.frame_2.glow {
    transform: scale(2.2);
    height: 15%;
    top: 9%;
}

.frame_3.glow {
    transform: scaleX(1.98) scaleY(1.84);
    top: 33%;
}

.frame_4.glow {
    transform: scaleX(2.12) scaleY(1.89);
    top: 59%;
}

.frame_5.glow {
    transform: scaleX(2) scaleY(1.81);
    top: 7%;
}

.frame_6.glow {
    transform: scale(2.15);
    height: 19.5%;
    top: 6.3%;
}

.frame_7.glow {
    transform: scale(2.15);
    height: 15.5%;
    top: 14%;
}

.frame_8.glow {
    transform: scaleX(2) scaleY(1.83);
    top: 35%;
}

.frame_9.glow {
    transform: scaleX(2) scaleY(2.1);
    height: 16%;
    top: 29%;
}

.frame_10.glow {
    transform: scaleX(2.15) scaleY(1.8);
    top: 58.5%;
}

@keyframes glowing {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes glowing-buff {
    0% {
        opacity: 0%;
        transform: scale(1.27);
    }
    50% {
        opacity: 100%;
        transform: scale(1.27);
    }
    100% {
        opacity: 0%;
        transform: scale(1.27);
    }
}

@keyframes glowing-razor {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 120%;
        filter: contrast(200%)
    }
    100% {
        opacity: 0%;
    }
}