body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    display: flex;
    flex-direction: row;
    width: 900vw;
}

.picture {
    position: absolute;
}

.item {
    cursor: pointer;
}

/*Page background*/

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#locker {
    z-index: 102 !important;
}

#frame {
    z-index: 10 !important;
}

#hing {
    z-index: 1 !important;
}

#myModal {
    position: absolute;
    /* display: inline-block; */
    margin-left: 1%;
    margin-top: 0.25%;
    z-index: 102 !important;
}

.overlay {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    overflow: auto;
    /* Enable scroll if needed */
    margin-left: 11.1% !important;
    margin-bottom: 10% !important;
    width: 11.13% !important;
    height: 100% !important;
}


/* Modal Content/Box */

.modal-content {
    margin-left: 37.5%;
    margin-top: 3%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 28% !important;
    height: 80%;
}

#locker-item {
    padding: 10px;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cup {
    z-index: 102 !important;
}

#tanka {
    z-index: 102 !important;
}

#book {
    z-index: 102 !important;
}

#buffdoll {
    z-index: 102 !important;
}

#tachang {
    z-index: 102 !important;
}

#pancake {
    z-index: 102 !important;
}

#razor {
    z-index: 102 !important;
}

#bucket {
    z-index: 102 !important;
}

#fuclotus {
    z-index: 102 !important;
}

.six {
    background: lime;
}

.seven {
    background: pink;
}

.eight {
    background: purple;
}

.nine {
    background: cyan;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    /*lock page*/
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.outer-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


/* .house {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25%;
    height: 25%;
}

.explore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25%;
    height: 25%;
} */

.house {
    width: 25%;
    height: auto;
    top: 20%;
    left: 36%;
}

.dropdown1 {
    position: absolute;
    display: inline-block;
    margin-left: 10%;
    margin-top: 0.25%;
    z-index: 102 !important;
}

.dropbtn {
    background-color: rgb(241, 126, 87);
    color: white;
    font-size: 20pt;
    border: none;
    cursor: pointer;
    width: 120%;
    height: 30%;
    font-family: 'Kanit', 'Medium', sans-serif;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #888888;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 85%;
    margin-top: 2%;
}

.dropdown a:hover {
    text-decoration: none;
    color: rgb(241, 126, 87);
    font-family: 'Kanit', 'Medium', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    overflow: auto;
    z-index: 1;
    right: -20px;
}

.dropdown-content a {
    color: rgb(45, 83, 121);
    padding: 3px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Kanit', 'Regular', sans-serif;
    text-align: right;
    font-size: 13pt;
}

.show {
    display: block;
}

.explore {
    width: 15%;
    height: auto;
    top: 67%;
    left: 43%;
    animation-name: scaling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.explore:hover {
    animation: scaleexplo 1s forwards;
}

.hint {
    width: 20%;
    top: 80%;
    left: 40%;
    animation-name: MoveUpDown;
    animation-duration: 5s;
    animation-iteration-count: forward;
}

.cloud {
    margin-left: 40%;
    margin-right: auto;
    display: block;
    margin-top: 7%;
    width: 70%;
    position: absolute;
    z-index: 3;
    opacity: 0.9;
    animation-name: C_animation;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

.cloud2 {
    margin-right: auto;
    right: 20%;
    display: block;
    width: 80%;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    top: 5pt;
    animation-name: C2_animation;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes C_animation {
    from {
        margin-left: 40%;
        opacity: 0.9;
    }
    to {
        margin-left: 100%;
        opacity: 0;
    }
}

@keyframes C2_animation {
    from {
        right: 20%;
        opacity: 0.9;
    }
    to {
        right: 100%;
        opacity: 0;
    }
}

@keyframes zoom {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes MoveUpDown {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 80%;
        opacity: 1;
    }
}

@keyframes scaleexplo {
    from {
        top: 67%;
        left: 43%;
        width: 15%;
    }
    to {
        top: 66.5%;
        left: 41%;
        width: 20%;
    }
}