/*---normal element---*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
}

.outer-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    display: flex;
    flex-direction: row;
    width: 1000vw;
}

.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: rgb(229, 233, 236);
}

.picture {
    z-index: 2;
    position: absolute;
}

.item {
    cursor: pointer;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* function element such as map button, pop-up, hint(undone)*/

.dropdown {
    position: absolute !important;
    z-index: 10;
    top: 5%;
    right: 3%;
    text-align: right;
}

.test{
    top: 5%;
    left: 3%;
    position: absolute;
    width: auto;
    height: auto;
    text-align: justify;
}

/* Count Content Opened */
.amount{
    display: inherit;
    position: relative !important;
    left: 3%;
    color: rgb(241, 126, 87);
    font-size: 15pt;
    font-family: 'Kanit', 'Regular', sans-serif;
    margin-top: 10%;
    line-height: 100%;
}

.hint_b {
    display: inherit;
    position: relative !important;
    z-index: 10;
    top: 0% !important;
    left: 3%;
    background-color: white;
    color: rgb(241, 126, 87);
    font-size: 20pt;
    border: none;
    cursor: pointer;
    font-family: 'Kanit', 'Medium', sans-serif;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #888888;
}

.dropbtn {
    background-color: rgb(241, 126, 87);
    color: white;
    font-size: 20pt;
    border: none;
    cursor: pointer;
    font-family: 'Kanit', 'Medium', sans-serif;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #888888;
}

.dropdown a:hover {
    text-decoration: none;
    color: rgb(241, 126, 87);
    font-family: 'Kanit', 'Medium', sans-serif;
}

.dropdown-content {
    display: none;
    overflow: auto;
    z-index: 1;
    right: -20px;
    border-radius: 5%;
    margin-top: 4px;
}

.dropdown-content a {
    color: rgb(45, 83, 121);
    padding: 3px 6px;
    display: block;
    text-decoration: none;
    font-family: 'Kanit', 'Regular', sans-serif;
    text-align: right;
    font-size: 106%;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.4);
    z-index: 20;
}

.myModal {
    position: absolute;
    width: 25%;
    height: auto;
    top: 5%;
    left: 37.5%;
    display: block;
    background-color: white;
    border-radius: 3%;
    padding: 2%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40pt;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show {
    display: block;
}


/*------slide 1------*/

#home {
    z-index: -1;
    animation-name: zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.house {
    width: 25%;
    height: 46%;
    top: 20%;
    left: 36%;
}

.explore {
    width: 15%;
    height: auto;
    top: 67%;
    left: 43%;
    animation-name: scaling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.explore:hover {
    animation: scaleexplo 1s forwards;
}

.hint {
    width: 20%;
    top: 80%;
    left: 40%;
    animation-name: MoveUpDown;
    animation-duration: 5s;
    animation-iteration-count: forward;
}

.cloud {
    margin-left: 40%;
    margin-right: auto;
    display: block;
    margin-top: 7%;
    width: 70%;
    position: absolute;
    z-index: 3;
    opacity: 0.9;
    animation-name: C_animation;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

.cloud2 {
    margin-right: auto;
    right: 20%;
    display: block;
    width: 80%;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    top: 5pt;
    animation-name: C2_animation;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}


/*------slide 2------*/

.locker {
    width: 2%;
    height: 8;
    top: 75%;
    left: 50.6%;
}

.frame {
    width: 12.5%;
    height: 29%;
    top: 14%;
    left: 50%;
}

.shelf {
    width: 10%;
    height: 16.5%;
    top: 11.6%;
    left: 18%;
}


/*------slide 3------*/

.cup {
    width: 6.5%;
    height: 11.5%;
    top: 22%;
    left: 13%;
}

.tanka {
    width: 8%;
    height: 8%;
    top: 40%;
    left: 12%;
}

.book {
    width: 7%;
    height: 6%;
    top: 73%;
    left: 53%;
}

.buffdoll {
    width: 20%;
    height: 60%;
    top: 29%;
    left: 73%;
}


/*------slide 4------*/

.scale {
    width: 6.5%;
    height: 11%;
    top: 41.2%;
    left: 20%;
}

.pancake {
    width: 18%;
    height: 10%;
    top: 42.2%;
    left: 34%;
}


/*------slide 5------*/

.razor {
    width: 3.5%;
    height: 11%;
    top: 36.3%;
    left: 22%;
}

.bucket {
    width: 20%;
    height: 21%;
    top: 64%;
    left: 26%;
}

.shower {
    width: 20%;
    height: 32%;
    top: 16.5%;
    left: 60%;
}


/*------slide 6------*/

.cloth {
    width: 16%;
    height: 45%;
    top: 39%;
    left: 0%;
}

.pillow_left {
    width: 19%;
    height: 15%;
    top: 49.6%;
    left: 30%;
}

.pillow_right {
    width: 19%;
    height: 15%;
    top: 49.6%;
    left: 51%;
}

.cosmetics {
    width: 7%;
    height: 10%;
    top: 51%;
    left: 83.5%;
}


/*------slide 7------*/

.bin {
    width: 6%;
    height: 15%;
    top: 71%;
    left: 17.5%;
}

.chair {
    width: 16%;
    height: 20%;
    top: 32.5%;
    left: 38%;
}

.frame_wk {
    width: 11%;
    height: 13%;
    top: 10%;
    left: 45%;
}


/*------slide 8------*/

.frame_1 {
    width: 9%;
    height: 23%;
    top: 20%;
    left: 11%;
}

.frame_2 {
    width: 7.5%;
    height: 18%;
    top: 7%;
    left: 22%;
}

.frame_3 {
    width: 9.2%;
    height: 23.2%;
    top: 33%;
    left: 22.2%;
}

.frame_4 {
    width: 7.7%;
    height: 18.2%;
    top: 59%;
    left: 26%;
}

.frame_5 {
    width: 9.2%;
    height: 23.2%;
    top: 7%;
    left: 36%;
}

.frame_6 {
    width: 7.5%;
    height: 24%;
    top: 4%;
    left: 55.5%;
}

.frame_7 {
    width: 7%;
    height: 17.3%;
    top: 13%;
    left: 65%;
}

.frame_8 {
    width: 8%;
    height: 21%;
    top: 35%;
    left: 67%;
}

.frame_9 {
    width: 7%;
    height: 18%;
    top: 28%;
    left: 76.5%;
}

.frame_10 {
    width: 8%;
    height: 20%;
    top: 58%;
    left: 72%;
}

/*------slide 9------*/
.house_end {
    width: 25%;
    height: 46%;
    top: 8%;
    left: 36%;
}

.undone {
    width: 27%;
    top: 58%;
    left: 37%;
}

/*------slide 10------*/

.done {
    width: 27%;
    top: 58%;
    left: 37%;
}

.cloud_end1 {
    width: 10%;
    height: 10%;
    top: 30%;
    left: 5%;
}

.cloud_end2 {
    width: 10%;
    height: 10%;
    top: 27%;
    left: 80%;
}

.cloud_end3 {
    width: 15%;
    height: 15%;
    top: 45%;
    left: 13%;
}

.cloud_end4 {
    width: 15%;
    height: 15%;
    top: 40%;
    left: 65%;
}

.cloud_end5 {
    width: 35%;
    height: 35%;
    top: 70%;
    left: 0%;
}

.cloud_end6 {
    width: 35%;
    height: 35%;
    top: 70%;
    left: 70%;
}

.float{
    animation-name: float_a;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*------Last Page Button Function (Hide / Show)-----*/

#congrat_1{
    display: none;
    font-size: 125%;
}

#last_page_1{
    display: show;
    font-size: 125%;
}

#congrat_2{
    display: none;
    font-size: 125%;
}

#last_page_2{
    display: show;
    font-size: 125%;
}

#congrat_3{
    display: none;
    font-size: 125%;
}

#last_page_3{
    display: show;
    font-size: 125%;
}

#congrat_4{
    display: none;
    font-size: 125%;
}

#last_page_4{
    display: show;
    font-size: 125%;
}

#congrat_5{
    display: none;
    font-size: 125%;
}

#last_page_5{
    display: show;
    font-size: 125%;
}

#congrat_6{
    display: none;
    font-size: 125%;
}

#last_page_6{
    display: show;
    font-size: 125%;
}

#congrat_7{
    display: none;
    font-size: 125%;
}

#last_page_7{
    display: show;
    font-size: 125%;
}

#congrat_8{
    display: none;
    font-size: 125%;
}

#last_page_8{
    display: show;
    font-size: 125%;
}

#congrat_9{
    display: none;
    font-size: 125%;
}

#last_page_9{
    display: show;
    font-size: 125%;
}
@keyframes float_a {
    from {
        margin-top: 0%;
    }
    to {
        margin-top: -2%;
    }
}

@keyframes C_animation {
    from {
        margin-left: 40%;
        opacity: 0.9;
    }
    to {
        margin-left: 100%;
        opacity: 0;
    }
}

@keyframes C2_animation {
    from {
        right: 20%;
        opacity: 0.9;
    }
    to {
        right: 100%;
        opacity: 0;
    }
}

@keyframes zoom {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes MoveUpDown {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 80%;
        opacity: 1;
    }
}

@keyframes scaleexplo {
    from {
        top: 67%;
        left: 43%;
        width: 15%;
    }
    to {
        top: 66.5%;
        left: 41%;
        width: 20%;
    }
}
